@import '../module.scss';

.advantages {
  max-width: 100%;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background: getColor(0.9);
}

.advantages:after {
  border-bottom: 3vw solid $primary-color; 
  top: 0;
  margin-top: -1px;
  content: "";
  position: absolute;
}
.advantages:after {
  border-left: calc(100vw - 3vw) solid transparent;
  left: 0;
  transform: rotate(180deg);
}

.advItem {
  width: 50vw;
  margin: 0 auto 0 auto;
  display: flex;
  @media(max-width: 476px) {
    width: 80%;
    margin: 0;
  }
}

.advHead {

}

.advText {
  width: 100%;
}

.advList {
  
}