@import '../module.scss';

.notice {
  background: $primary-color;
}

.noticeBlock {
  margin-top: 100px;
}

.line {
  width: 20%;
  height: 4px;
  background-color: $text-color;
  border-radius: 2px;
  margin: 80px;
}

.textNotice {
  margin: 0 20px 0 20px;
  line-height: 3em;
  max-width: 1200px;
  font-size: 2.5vh;
  color: $text-color;
  @media(min-width: 3800px) {
    max-width: 2000px;
  }
  @media(max-width: 500px) {
    margin: 0 10px 0 10px;
  }
}

.firstButton {
  margin: 10vw;
}

.askButton {
  min-width: 200px;
  width: 15vw;
  height: 5vh;
  font-size: 2vh;
  padding: auto;
  color: #fafafa;
  background-color: $secondary-color;
  font-weight: 500;
  border: 2px solid $alert-color;
  border-radius: 3px;
  @media(max-width: 500px) {
    border: 1px solid $alert-color;
    border-radius: 2px;
  }
  @media(max-width: 300px) {
    font-size: medium;
  }
}

.askButton:hover {
  box-shadow: 0 0 10px rgba(87,38,0,1.0);
}

.askButton:active {
  background-color: $alert-color;
}

.askButton.disabled {
  cursor: not-allowed;
  background-color: $gray-color;
}

.askButton.disabled:hover {
  border: 2px solid $black-color;
}

