@import '../module.scss';

.delimiter {
  position: relative;
  height: 20px;
  width: 100%;
  margin-bottom: -1px;
  background: $primary-color;
}

.person {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: $primary-color;
  @media(max-width: 1000px) {
    flex-direction: column;
  }
}

.personDesc {
  max-width: 500px;
  margin: 40px;
  @media(min-width: 3800px) {
    max-width: 2000px;
  }
}

.personName {
  color: $text-light-color;
  font-size: 1.8vh;
}

.personSpec {
  color: $text-color;
  margin: 0 auto 60px 0;
  font-size: 1.5vh;
  font-weight: 600;
}

.personList {
  margin: 30px auto 30px 0;
}

.personLi {
  font-weight: 600;
  color: $text-light-color;
  font-size: 1.5vh;
  line-height: 1.5em;
}

.personText {
  color: $text-color;
  font-size: 2vh;
  line-height: 1.5em;
  font-weight: 600;
}
