@import '../module.scss';

.form {
  width: 100%;
  background: $primary-color;
}

.addFile {
  max-width: 5vw;
  margin: 10px;
  padding: 5px;
  border: 2px solid #fafafa;
  cursor: pointer;
}

.label {
  font-size: 1.9vh; 
  cursor: pointer; 
}

.liItem {
  color: $text-color;
  font-size: 2vh;
  overflow-x: auto;
}

.files {
  position: relative;
  margin: 5px;
  width: 100%;
  margin: 0 20px 20px;
  overflow-x: auto;
}

.sendButton {
  margin: 20px;
}

.addFile:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

  &.disabled {
    box-shadow: none;
  }
}

.addFile:active {
  border: 2px solid $alert-color;

  &.disabled {
    border: 2px solid #fafafa;
  }
}

.span {
  font-size: 1.6vh;
  margin: 12px;
  color: $gray-color;
}