@import './module.scss';

html,
body {
  background: $black-color;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

label {
  color: $text-light-color;
  font-weight: 600;
}


.container {
  margin: 0;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paddingSmall {
  padding: 5px;
}

.fullScreen {
  height: 100%;
  width: 100%;
}

.column {
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.centerText {
  text-align: center;
}

.center {
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.start {
  align-items: flex-start;
}

.button {
  cursor: pointer;
  z-index: 12;
}


.boldHeader {
  margin: 0 20px 20px 20px;
  max-width: 1000px;
  font-size: 4vh;
  color: $text-light-color;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media(min-width: 3800px) {
    max-width: 2000px;
  }
  @media(max-width: 300px) {
    font-size: x-large;
  }
}

.boldHeader.start {
  margin: 0 15px 8px 8px;
  text-align: left;
}

.boldDesc {
  max-width: 500px;
  font-weight: 600;
  padding: 0 40px 40px 40px;
  font-size: 2vh;
  line-height: 1.5em;
  color: $text-color;
  @media(min-width: 3800px) {
    max-width: 1500px;
  }
  @media(max-width: 700px) {
    padding: 0 10px 10px 15px;
  }
  @media(max-width: 300px) {
    padding: 0 5px 5px 10px;
    font-size: medium;
  }
}

.progress {
  width: 100%;
  z-index: 14;
  position: fixed;
  top: 0;
}

.boldDesc.big {
  padding: 40px;
}

.textField {
  font-size: 2em;
  min-height: 2vh;
  margin: 10px 20px 20px 20px;
  width: 500px;
  color: $primary-color;
  border-color: $text-light-color;
  @media(min-width: 3800px) {
    width: 15vw;
  }
  @media(max-width: 500px) {
    width: 300px;
  }
  @media(max-width: 300px) {
    width: 220px;
  }
}

.textarea {
  width: 500px;
  font-size: 1.8em;
  margin: 10px 20px 0 20px;
  color: $primary-color;
  @media(min-width: 3800px) {
    width: 15vw;
  }
  @media(max-width: 500px) {
    width: 300px;
  }
  @media(max-width: 300px) {
    width: 220px;
  }
}

.select {
  margin: 12px;
  font-size: 2vh;
  margin: 10px 20px 20px 20px;
  height: 2em;
  width: 500px;
  color: $primary-color;
  border-color: $text-light-color;
  @media(min-width: 3800px) {
    width: 15vw;
    height: 5em;
  }
  @media(max-width: 500px) {
    width: 300px;
  }
  @media(max-width: 300px) {
    width: 220px;
  }
}

.collapse {
  left: 0;
}

.alert {
  opacity: 0.9;
  font-size: 3vh;
  z-index: 12;
  position: relative;
  min-width: 500px;
  max-width: 100%;
  height: 20vh;
  //bottom: 30px;
  overflow: auto;
  @media(min-width: 3800px) {
    min-width: 15vw;
    height: 5em;
  }
  @media(max-width: 500px) {
    min-width: 300px;
  }
  @media(max-width: 300px) {
    min-width: 220px;
  }
}

.alertMessage {
  overflow-x: auto;
}

.nextLink {
  color: $gray-color;
  cursor: pointer;
  font-size: 2vh;
  margin: 5px;
}

.nextLink:hover {
  text-decoration: underline;
}

.text {
  font-size: 1.6vh;
  margin: 20px auto 20px auto;
  width: 80%;
  color: $gray-color;
}

.textLink {
  text-decoration: underline;
}

.vcenter {
  height: 100vh;
  padding: auto 0 auto 0;
}

.gray {
  color: $gray-color;
}

.popup {
  left: 0;
  text-align: center;
  width: 100%;
  padding: 12px;
  background: $black-color;
  z-index: 13;
  position: fixed;
  bottom: 0;
  opacity: 0.8;
  color: $gray-color;
}

.checkbox {
  margin: 12px;
  color: $alert-color;
  background: $alert-color;
}

.yellowButton {
  margin: 12px;
  cursor: pointer;
  background: $text-color;
  border: 2px solid $text-light-color;
  border-radius: 4px;
}

.pay {
  height: 100vh;
  background: black;
}


#f .f-btn-success{
  color: cyan;
  background-color: black;
  border: none;
  box-shadow: none;
}

#f .f-payment-method-card {
  position: relative;
  background: gray;
  width: 100%;
}

#f .f-header {
  display: none;
}

#f .f-info {
  display: none;
  width: 0;
}

#f .f-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: gray;
}

#f .f-wrapper:before {
  content: '';
  display: none;
}

#f .f-center {
  padding: 0;
  border: none;
  width: 100%;
}

iframe {
  height: 1000px;
  width: 100%;
}
